html, body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
}

.container-fluid {
    min-height: 100vh;
}

/* carrousel */
#carrousel { background-color: tomato; }

/* vantagens */
#vantagens { background-color: darkslateblue;}

/* precos */
#precos { background-color: darkolivegreen;}

/* localizacao */
#localizacao { background-color: orchid;}