@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 67.5%;
}

aside{
    min-height: 100vh;
}

/* carrousel */
#carousel { background-color: tomato; }

/* precos */
#precos { background-color: darkolivegreen;}

/* localizacao */
#localizacao { background-color: orchid;}

#vantagens {    
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.NossasVantagensContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#nossasVantagensTitulo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 7rem;
    line-height: 68px;
    color: #185787;
    height: auto;
    width: auto;
}

#nossasVantagensMain {
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 24vw 24vw 24vw;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    justify-content: space-between;
}

#nossasVantagensQuadrado {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.nossasVantagensTopo {
    display: grid;
    place-items: center;
    width: 4vw;
    height: 4vw;
    background: linear-gradient(0deg, rgba(215, 215, 215, 0.2), rgba(215, 215, 215, 0.2)), rgba(217, 217, 217, 0.2);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

#nossasVantagensEmoji {
    width: 80%;
    height: 80%;
}

#nossasVantagensEmoji img {
    width: 100%;
    height: 100%;
}

#nossasVantagensBaixo {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nossasVantagensTituloBaixo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 30px;
    /* identical to box height */
    color: #246590;
    width: 90%;
    text-align: start;
}

#nossasVantagensTituloBaixo3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 30px;
    /* identical to box height */
    color: #246590;
    width: 90%;
    text-align: justify;
}

#nossasVantagensDescricaoQuadrado {
    width: 70%;
    height: auto;
}

#nossasVantagensDescricaoQuadrado3 {
    width: 90%;
    height: auto;
}

#nossasVantagensDescricaoQuadrado h4 {
    font-size: 1.4rem;
    text-align: start;
}

#nossasVantagensDescricaoQuadrado3 h4{
    font-size: 1.4rem;
    text-align: start;
}